<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>

</head>
<body>
    <h1 align="center">ID Verification</h1>
    <p align="center">Please hold your ID photo in front of the camera so both your face and photo are in the frame.</p>
    <p align="center">自分の顔と証明写真の両方が画面に映るように、写真をカメラの前にかざしてください。</p>
    <div style="text-align:center">
        <img src="{{ url_for('video') }}" alt="Video Screen" width="50%" align="center">
    </div>

</body>
</html>